html { font-size:62.5%; font-family:"Garamond", Times, serif;}
h1 { font-size:4rem; line-height:1.1em; margin:35px 10px 0 25px; }
p { font-size:1.6rem; line-height:1.2em; margin:1em 10px 0 28px; color:#88C654; }

html, h1, p,{
  width: 2000px;
  height: 2000px;
}

body{
  background-image:url('../TREE.png');
  background-repeat:no-repeat;
  background-position:top right;
  background-color:#1E1B1B;
}

#nav{
  font size: 12px;
  line-height: 75%
  margin top: 5px;
}

#title{
  margin: 100px;
  padding-top: 450px;
}

#point1{
  position: absolute;
  top: 90px;
  left: 1030px;
  margin: auto; 
  width: 720px;
}

#point2{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point3{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point4{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point5{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point6{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point7{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point8{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point9{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point10{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point11{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#point12{
  position; fixed;
  top:25%;
  left: 25%;
  margin: auto; 
  width: 720px;
}

#draggable, #draggable2, #draggable3 { 
  width: 300px; 
  height: 400px; 
  padding: 0.5em; 
  float: 
  left; 
  margin: 0 10px 10px 0;
}
	